{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Check you email" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="mb-4 text-center text-success">{% trans "Check you email" %}</h2>
                    <p class="text-center">
                        {% trans "If your set given email exists, you'll be given the password reset link shortly" %}
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-primary w-100 mt-3">{% trans "Back to Login" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}